@use "../../../../variables";

.login{
    display: flex;
    flex-direction: column;
    border: solid variables.$border-color-gray;
    border-radius: .7rem;
    padding: 1rem;
    width: 40vw;
    margin: 0 auto;
    margin-top: 20vh;
    gap: 1rem;

    &__data{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        &__input{
            border:  solid variables.$border-color-gray;
            padding: .5rem;
            border-radius: .5rem;
        }
    }
}