$font-color-black: #1e1e1e;
$font-color-gray: #757575;
$font-color-light-gray: #b3b3b3;
$font-color-dark-gray: #8e8e8e;
$font-color-white: #f5f5f5;

$bg-color-black: #2c2c2c;
$bg-color-gray: #e3e3e3;
$bg-color-light-gray: #f5f5f5;
$bg-color-white: #f5f5f5;

$border-color-gray: #d9d9d9;
$border-color-dark-gray: #767676;