@use "../../../../variables";


.footer {
    display: flex;
    gap: 10%;
    margin-top: auto;
    padding: 2rem ;
    border-top: solid 1px variables.$border-color-gray;

    &__socials{
        &__list{
            display: flex;
            justify-content: space-evenly;
            margin-top: .5rem;
            font-size: 1.5rem;
        }
    }

    &__nav{
        &__title{
            font-weight: 700;
            margin-bottom: 1rem;
        }        

        &__list{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

    }

}
